<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
  <body>
    <%-include('../partials/header.ejs')%>
    <h1>RocketClipz</h1>
    <div class="clip-container">
    <%for(let key in clips){%>
        <div class="clips">
          <h3><%=clips[key].title%></h3>
          <a href="/user/<%=clips[key].user%>"><%=clips[key].user%></a></br>
          <a href="/clip/<%=clips[key].id%>"><video width= width:'240' height='180' autoplay loop muted>
            <source src="<%=clips[key].link%>" type="video/mp4">
          </video></a>
        </div>
    <%}%>
  </div>
  </body>
</html>
